/* --tuscan: #e6d3a3;
--straw: #d8d174;
--anti-flash-white: #f2f4f3;
--middle-green-yellow: #b6c454;
--swamp-city: #91972a; */

.recipe-card {
  width:80%;
  background-color:var(--anti-flash-white);
  border:2px solid var(--swamp-city);
  margin:2em 0 2em 0;
}

.recipe-card-image{
    width: 100%;
    object-fit:cover;
    height:400px;
}

.recipe-body{
  margin:0 2em 2em 2em;
}

hr{
  border: 1px solid var(--swamp-city);
  width: 98%;
  margin:1em auto 1em auto;

}






