

div.recipe-container {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

img{
    width: 425px;
    height: 425px;
}

  /* edit form */

  .card-body form {
    width: 100%;
  }

  .card-body h5{
    font-family: fantasy;
  }
