.logoutButton{
    background-color: var(--middle-green-yellow);
    border: solid 1px var(--middle-green-yellow);
}

.logoutButton:hover{
    background-color: var(--middle-green-yellow);
    border: solid 1px var(--middle-green-yellow);
    padding: 0.2rem 1rem;
    margin-left: -0.3rem;
    margin-right: -0.2rem;
}

.logoutButton:active{
    padding: 0.2rem 1rem;
    margin-left: -0.1rem;
    margin-right: 0.1rem;
    font-size: 0.8rem;
    background-color: var(--middle-green-yellow)!important;
    border: solid 1px var(--middle-green-yellow)!important;
}