.landing-carousel{
  border:2px solid black;
}

.landing-image {
  height:20vh;
  object-fit:cover;
  background-color:black;
}

.right.carousel-control, .left.carousel-control {
  display: none;
}

.copy-clipboard:hover {
  color: red;
}

.mission {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1rem;
}
